.main {
    min-height: calc(100vh - 130px);
    overflow: hidden;
    a {
        color: orangered;
        text-decoration: none;

        &:visited {
            color: lightsalmon;
        }
        &:hover {
            color: black;
        }
        
    }
    @media (max-width: 767px) {
        min-height: calc(100vh - 155px);
    }
}

.list-header,
.first-entry>*,
.post-entry,
.list-footer {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 767px) { 
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.list .main {
    padding-bottom: 30px;
}

%list-padding {
    padding-left: 30px;
    padding-right: 30px;
}

.list-header {
    @extend %list-padding;
    margin-top: 30px;
    margin-bottom: 30px;
}

.list-footer {
    @extend %list-padding;
    margin-top: 30px;
}

.single .main {
    padding-top: 60px;
    padding-bottom: 30px;
}


/* List header
  ------------------------------ */

.list-header span {
    color: rgba(0, 0, 0, .4);
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.list-title {
    font-size: 50px;
}

/* Post
  ------------------------------ */

.post-meta {
    margin-top: 5px;
    color: rgba(0, 0, 0, .4);
    font-size: 15px;
    letter-spacing: .5px;
}

/* First entry */

.first-entry {
    position: relative;
    margin-bottom: 40px;
    padding-top: 60px;
    padding-bottom: 120px;
    background: #fff;
}

.welcome-emoji {
    font-size: 50px;
    line-height: 1;
}

.first-entry .post-title {
    font-size: 50px;
}

@media (max-width: 767px) {
    .first-entry {
        margin-bottom: 25px;
    }
}

/* Post entry */

.post-entry {
    position: relative;
    padding: 30px;
    border-radius: 6px;
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .25s ease-out;
    transition: all .25s ease-out;
    border-left: solid 1em black;
}

.post-entry+.post-entry {
    margin-top: 25px;
}

.post-entry:first-child {
    margin-top: 40px;
}

.post-entry:hover {
    box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 1);
    background-position: left bottom;
    color: white;
}

@media (max-width: 767px) {
    .post-entry {
        box-shadow: 0 0px 32px -5px rgba(0, 0, 0, 0.5);
        width: 95%;
        font-size: 18px;
        border-left: solid 0.5em black;
    }
}

.post-entry .post-summary {
    margin-top: 10px;
    color: rgba(0, 0, 0, .6);
}

.post-entry:hover .post-summary {
    color: rgba(255, 255, 255, .8);
}

.post-entry .post-title {
    font-size: 30px;
}

.post-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Post view */
.post-view {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    .post-title {
        font-size: 40px;
    }
    .post-tags {
        margin-bottom: 30px;
    }
}
%header-margin {
    margin-bottom: 15px;
}
%small-headers {
    color: rgba(0, 0, 0, .4);
    font-weight: 400;
    margin-bottom: 10px;
}
.post-content {
    padding-top: 30px;
    word-wrap: break-word;
    h2 {
        @extend %header-margin;
        font-size: 34px;
        margin-top: 40px;
    }
    h3 {
        @extend %header-margin;
        font-size: 28px;
        margin-top: 30px;
    }
    h4 {
        @extend %small-headers;
        font-size: 24px;
    }
    h5 {
        @extend %small-headers;
        font-size: 20px;
    }
    h6 {
        @extend %small-headers;
        font-size: 17px;
    }
    a {
        border-bottom: 1px solid rgba(0, 0, 0, .8);
    }
    p, ul, ol, dl {
        margin-bottom: 20px;
    }
    ul, ol {
        padding-left: 20px;
    }
    li {
        margin-bottom: 10px;
    }
    li>ul, li>ol {
        margin-top: 10px;
        margin-bottom: 0;
    }
    dl {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
    dt {
        width: 25%;
        font-weight: 700;
    }
    dd {
        width: 75%;
        margin-left: 0;
        padding-left: 10px;
    }
    dt~dt, dd~dd {
        margin-top: 10px;
    }
    pre,table {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        th,td {
            padding: 12px;
            border: 1px solid #eee;
        }
        th {
            text-align: left;
        }
    }
    pre, code {
        padding: 20px;
    }
    code {
        padding: 3px 6px;
        font-size: 15px;
        background: rgba(0, 0, 0, .05);
        border-radius: 3px;
    }
    blockquote {
        margin: 0 0 0 -23px;
        padding: 0 0 0 20px;
        color: rgba(0, 0, 0, .6);
        font-style: italic;
        border-left: 3px solid rgba(0, 0, 0, .8);
        @media (max-width: 767px) {
            margin: 0 0 0 -30px;
            padding: 0 0 0 27px;
        }
    }
    hr {
        margin-top: 70px;
        margin-bottom: 70px;
        border: solid rgba(0, 0, 0, .1);
        border-width: 1px 0 0;
    }
    iframe {
        max-width: 100%;
    }
    
}

.post-tags {
    li {
        display: inline-block;
    }
    a {
        display: block;
        padding: 4px 15px;
        color: rgba(0, 0, 0, .6);
        background: rgba(0, 0, 0, .05);
        border-radius: 3px;
        &:hover {
            background: rgba(0, 0, 0, .08);
        }
    }
    li+li {
        margin-left: 3px;
    }
}

/* List footer
  ------------------------------ */

.pagination {
    display: flex;
    overflow: hidden;
    a {
        display: block;
        line-height: 30px;
    }
}

.pagination-next {
    margin-left: auto;
}